<div class="jumbotron">
    <h1 class="display-4">Welcome to DanbinHood!</h1>
    <p class="lead">This is Daniel Lee's stock exchange app for Stackathon.</p>
    <hr class="my-4">
    <p>Please use the search bar at the upper right corner to search using tickers.</p>
    <p>Studying elastic search right now to allow company name searches too.</p>
</div>


{{!-- <strong>: </strong> ${{stock.}} </br>
<strong>: </strong> ${{stock.}} </br>
<strong>: </strong> ${{stock.}} </br> --}}

{{!-- {{#each stock}}
{{@key}} = {{this}} </br>
{{/each}} --}}